

<p class="text-secondary">welcome to</p>

<h1 class="title text-warning">
  <span class="animated fadeIn" style="animation-delay: 0.5s;">I</span>
  <span class="animated fadeIn" style="animation-delay: 1s;">M</span>
  <span class="animated fadeIn" style="animation-delay: 1.5s;">C</span>
  <span class="animated fadeIn" style="animation-delay: 2s;">U</span>
  <span class="animated fadeIn" style="animation-delay: 2.5s;">F</span>
</h1>

<p class="animated fadeIn text-secondary" style="animation-delay: 4s; font-size: 1rem;">Irgendwas mit Code und Filmen</p>
<p class="animated fadeIn text-secondary" style="animation-delay: 6s; font-size: 1rem;">Version 0.0.1 pre alpha</p>

<p>
  <a href="/question;id=1" class="animated fadeIn text-secondary" style="animation-delay: 10s;">START</a>
</p>